<!-- <span> -->
    <!-- <button class="project-button" (click)="buttonClicked()">
        <img class="image-button" src="/random_btn.png" alt="">
    </button> -->
    <!-- <input class="image-button" type="image" src="/random_btn.png" alt="" (click)="buttonClicked()"> -->
    <!-- <nav> -->
        <!-- <a href="https://github.com/AH-Huynh942"><img class="image-button" src="/random_btn.png" alt=""></a> -->
    <!-- </nav> -->
<!-- </span> -->
<a href="https://github.com/AH-Huynh942"><img class="image-button" src="/random_btn.png" alt=""></a>
