<div>
    <app-navigation></app-navigation>
    <h1 class="title">Andy Huynh's Website Portfolio</h1>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <!-- <app-home></app-home> -->
    <!-- <app-about></app-about> -->
    <!-- <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div>
    <div>................</div> -->
</div>
